<!DOCTYPE html>
<html>


<head>

    <title>Salem - Simple, Clean And Responsive Website</title>

    <meta charset="utf-8">

    <meta name="description" content="If you are a tourist who wants to visit a certain place and spend some time with common people who will serve as your guides then you have come to the right place. Travelmos.com is also the site where you decide who is going to show you the destination of your choice.">

    <meta name="keywords" content="tourist app, travel app, tourist web app, travel web app">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">

    <!-- Fontawesome -->
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

</head>


<body class="home">


    @RenderBody()


    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="copyright">
                        <p>Copyright &copy; 2019 -<a href="#"> Salem Malkić</a></p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="scroll-top">
                        <a href="#HOME"><i class="fa fa-angle-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>






    <!-- Bootstrap JavaScript -->
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>



    <!-- Add JS Counter lib -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>

    <!-- Add Animation -->
    <script src="~/js/wow.min.js"></script>

    <!-- Add wow js lib -->
    <script src="~/js/wow.min.js"></script>

    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>

</body>


</html>

